body {
  --primary: #1890ff;
  --input-size-small: 2.4rem;
    --input-size-default: 3rem;
    --input-size-large: 3.6rem;
    --font-base: "Inter","Roobert","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-display: "Roobert","Inter","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-mono: monospace;
    --font-size-1: 5.4rem;
    --font-size-2: 3.6rem;
    --font-size-3: 2.4rem;
    --font-size-4: 1.8rem;
    --font-size-5: 1.4rem;
    --font-size-6: 1.3rem;
    --font-size-7: 1.2rem;
    --font-size-8: 1.2rem;
    --font-size-base: 1.3rem;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-hdr: 400;
    --line-height-body: 1.5;
    --line-height-heading: 1.2;
    --base-rem-unit: 10;
    --grid-columns: 12;
    --grid-gutter-width: 1.5rem;
    --grid-gutter-width-lg: 2rem;
    --grid-gutter-width-sm: 1rem;
    --grid-gutter-width-xs: 0.5rem;
    --opac-1: 0.05;
    --opac-2: 0.1;
    --opac-3: 0.15;
    --opac-4: 0.2;
    --opac-5: 0.25;
    --opac-6: 0.3;
    --opac-7: 0.4;
    --opac-8: 0.5;
    --opac-9: 0.6;
    --opac-10: 0.7;
    --opac-11: 0.75;
    --opac-12: 0.8;
    --opac-13: 0.85;
    --opac-14: 0.9;
    --opac-15: 0.95;
    --space-0: 0;
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --space-5: 5rem;
    --space-6: 6rem;
    --space-7: 7rem;
    --space-8: 8rem;
    --space-9: 9rem;
    --space-10: 10rem;
    --space-auto: auto;
    --space-05: 0.5rem;
    --timing-short: 100ms;
    --timing-medium: 250ms;
    --timing-long: 300ms;
    --z-index-modal: 5000;
    --z-index-notification: 4000;
    --z-index-overlay: 3000;
    --z-index-balloon: 2000;
    --z-index-sticky: 1000;
    --z-index-above: 10;
    --z-index-default: 1;
    --z-index-below: -1;
}

.light {
  --background-color: #f0f2f5;
  --backgorund-image: url("/assets/images/LogoAuthBlack.png");
  --background-header: #001529;
  --modal-notific-text: #51515c;
  --text-color: #333;
  --text-error: orangered;
  --icon-color: #ffff;
  --content-color: #ffff;
  --primary: #1890ff;
  --hover-background-color: #cacaca;
  --header-text: #ffffff;
}

.dark {
  --background-color: #333;
  --backgorund-image: url("/assets/images/logoAuthWhite.png");
  --background-header: #001529;
  --modal-notific-text: #848494;
  --text-color: #ffff;
  --text-error: orangered;
  --icon-color: #ffff;
  --content-color: rgb(31, 31, 31);
  --primary: #1890ff;
  --hover-background-color: rgb(116, 116, 116);
}
