body {
  --primary: #1890ff;
}

.light {
  --background-color: #f0f2f5;
  --background-header: #001529;
  --text-color: #333;
  --icon-color: #ffff;
  --content-color: #dbdbdb;
  --primary: #1890ff;
  --hover-background-color: #cacaca;
}

.dark {
  --background-color: #333;
  --background-header: #001529;
  --text-color: #ffff;
  --icon-color: #ffff;
  
  --content-color: #333;
  --primary: #1890ff;
  --hover-background-color: rgba(22, 22, 22, 0.753);
}
