.label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--text-color);
}

.favourite {
  margin-left: 10px;
  color: var(--text-error);
  font-size: 18px;
  line-height: 26px;
}
nz-date-picker {
  min-width: 200px;
  color: var(--text-color);
  background-color: transparent !important;
}
:host ::ng-deep .ant-picker-input {
  input {
    color: var(--text-color) !important;
  }
}
.error {
  color: var(--text-error);
}
