:host ::ng-deep .ant-btn {
  height: 40px;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  background: var(--background-color);
}

.global {
  float: right;
  margin: 22px;
}

.global-icon {
  color: var(--text-color);
  font-size: 20px;
}

.global-icon:hover {
  color: var(--primary);
}

.dropdown-item {
  color: var(--primary);
}
.dropdown-item:hover {
  transform: scale(1.2);
  color: var(--primary);
}

.question {
  float: right;
  margin-right: 77px;
  height: 10%;
  margin-top: 2%;

  ::ng-deep .ant-btn {
    border: solid var(--hover-background-color) 1px;
  }
  ::ng-deep .ant-btn:hover {
    background-color: var(--hover-background-color);
  }

  i:hover {
    color: var(--text-color);
  }
}

.logo {
  width: 238.27px;
  height: 47px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  color: var(--text-color);
  background-image: var(--backgorund-image);
  border-radius: 3px;
}

.form {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  width: 100%;
  margin-bottom: 15px;
}

.bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-size: cover;
  height: 80%;
  .bg-img {
    margin-top: 20%;
    padding-top: 7%;
    position: absolute;
    padding-bottom: 10%;
    background-size: cover;
  }
}
