<form nz-form [formGroup]="validateForm" class="project-form" (ngSubmit)="submit()">
  <div class="row">
    <nz-form-item class="inputs">
      <app-input [placeholder]="'placeholder.Input your first name!' | translate" label="form.firstname"
        formControlName="firstName" [errorMessages]="{
          required: 'validator.required' | translate,
          minlength: 'validator.name' | translate
        }">
      </app-input>
    </nz-form-item>
    <nz-form-item class="inputs">
      <app-input [placeholder]="'placeholder.Input your last name!' | translate" label="form.lastname"
        formControlName="lastName" [errorMessages]="{
          required: 'validator.required' | translate,
          minlength: 'validator.name' | translate
        }">
      </app-input>
    </nz-form-item>
    <nz-form-item class="inputs">
      <app-autocomplete [placeholder]="'placeholder.Input your email!' | translate" label="form.email"
        formControlName="email" [errorMessages]="{ 
          required: 'validator.required' | translate, 
          minlength: 'validator.email' | translate 
        }">
      </app-autocomplete>
    </nz-form-item>
  </div>
  <div class="row">
    <nz-form-item class="inputs">
      <app-autocomplete [placeholder]="'placeholder.Input your specialization!' | translate" label="form.specialization"
        formControlName="specialization" [errorMessages]="{
          required: 'validator.required' | translate,
          minlength: 'validator.minlength8' | translate
        }">
      </app-autocomplete>
    </nz-form-item>
    <nz-form-item class="inputs">
      <app-autocomplete [placeholder]="'placeholder.Input your department!' | translate" label="form.department"
        formControlName="department" [errorMessages]="{
          required: 'validator.required' | translate,
          minlength: 'validator.minlength8' | translate
        }">
      </app-autocomplete>
    </nz-form-item>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [disabled]="validateForm.invalid || submitted" [nzType]="'primary'">
        {{ "form.save" | translate }}
      </button>
      <ng-content></ng-content>
    </div>
  </div>
</form>