
.wrapper {
  height: 100%;

  .header {
  padding: 0;
  height: 80px;
  }

  .sider-wrapper {
  flex: none !important;
  min-width: 48px !important;
  width: auto !important;
  background-color: var(--content-color);

    .hide {
      min-width: 48px;
      width: fit-content;
      flex: none;
    }

    .list {
      background-color: var(--content-color);
      color: var(--text-color);
      border-right: 0px;
    }
    ::ng-deep .ant-menu-item-selected {
      background-color: var(--background-color);
    }

  }
}




.sider-item {
  margin: 8px 0px;
  height: 60px;
  line-height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;

  span {
    margin: 0px 0px 0px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
  }
}

.sider-item:active {
  border-left: 2px solid blue;
}

:host ::ng-deep .sider-item {
  svg {
    width: 20px;
    height: 20px;
  }
}

:host ::ng-deep .ant-menu-item-selected {
  border-left: 3px solid blue;
}

.disable {
  color: var(--hover-background-color);
  pointer-events: none;
}
