<nz-layout class="wrapper">
  <nz-header class="header">
    <app-global-header></app-global-header>
  </nz-header>
  <nz-layout>
    <nz-sider class="sider-wrapper">
      <app-sider (changeTheme)="onChangeTheme($event)">
        <ul nz-menu class="list">
          <li
            nz-menu-item
            *ngFor="let page of pages"
            [ngClass]="page.isDisabled ? 'disable' : 'sider-item'"
            [routerLink]="page.name | lowercase"
          >
            <i nz-icon [nzType]="page.iconType" nzTheme="outline"></i>
            {{ page.translateKey | translate }}
          </li>
        </ul>
      </app-sider>
    </nz-sider>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>
