:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--content-color);
  width: min-contents;
  min-width: 48px;
  margin: 0;
}
.sider {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.toggler {
  display: flex;
  padding: 0;
  margin: 4px 0 4px 8px;
  width: 32px;
}

.visible {
  width: 200px;
  min-width: 200px;
  transition: 0.2s linear;
}

.hide {
  width: 48px;
  min-width: 48px;
  transition: 0.2s linear;
}