.vacancy-form {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.row {
  display: flex;
  padding: 10px;
}
.inputs {
  margin-right: 60px;
}
.search-area {
  display: flex;
  justify-content: flex-end;
}
button {
  margin-right: 15px;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--text-color);
}

.favourite {
  margin-left: 10px;
  color: var(--text-error);
  font-size: 18px;
  line-height: 26px;
}
