:host ::ng-deep .ant-form-item {
    margin-bottom: 0px;
}

.login-form {
  width: 300px;
}

.login-form-margin {
  margin-top: 22px;
    margin-bottom: 22px;
  .success-button {
        width: 100%;
    }
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.passicon {
    cursor: pointer;
}

.checkbox {
    color: var(--text-color)
}

.inputs {
    margin-right: 60px;
    width: 100%;
}

app-input {
  width: 100%;
}
