<section class="cv">
    <content class="content">
        <header class="name" aria-label="JESSICA LAUREN">
            <h1>JESSICA LAUREN</h1>
            <hr>
            <h2>PERSONAL ASSISTANT</h2>
        </header>
        <section class="cv-info">
            <section class="summary">
                <h6 class="title">SUMMARY</h6>
                <p>
                    6 + years of working experience in furniture and plastic manufacturing industry.<br>
                    Dedicated, goal-driven sales professional with a depp tchnical understanding and<br>
                    ability to identify and maintain strategic relationships with clients to achieve<br>
                    company-wide goals and objectives
                </p>
            </section>
            <section class="experience">
                <h6 class="title">EXPERIENCE</h6>
                <header class="subtitle">
                    <p class="sanserif">Sales & Marketing Executive<br>Ken Wood Product Limited</p>
                    <time>Jul 2016 - Jan 2020</time>
                </header>
                <ul>
                    <li>Promote company products to new and existing customers.</li>
                    <li>To increase customer base and create new business opportunities.</li>
                    <li>Followup customer's inquiry and prepare quotation, follow up sales and the
                        performance aftersales.</li>
                    <li>Generate costing from customer drawing and prepare componentlist to
                        production.
                    </li>
                    <li>Prompt & timely collections of payment from customers.</li>
                    <li>Coordinate with different supporting team for customer requirement and
                        complaints.</li>
                    <li>Assisting marketing manager in marketing activities, exhibition and
                        promotional events.</li>
                    <li>Assisting Sales and Marketing Manager to develop strategic marketing plan
                        and marketing budgets.</li>
                    <li>Providing support for marketing events and exhibitions as required.</li>
                    <li>Handling Alibaba, website development and perform other duties assigned by
                        Management.</li>
                    <li>Maintain good relationship with existing customers and suppliers by providing
                        prompt follow-up services.</li>
                </ul>
                <header class="subtitle">
                    <p class="sanserif">Personal Assistant<br>Eros Plastics Limited</p>
                    <time>Sep 2013 - May 2016</time>
                </header>
                <ul>
                    <li>Managing schedule and make arrangement for appointments, meetings,
                        travel and hotel reservation.</li>
                    <li>Assistall incoming and outgoing mails / other necessary correspondence.</li>
                    <li>Updating and safe keeping of confidential documents, maintain the security of
                        office records and files.</li>
                    <li>Recording and submission of directors claims.</li>
                    <li>Liaise with foreign customers and preparing correspondence on the Director's
                        behalf.</li>
                    <li>Advise, perform and assist in secretarial and administrative matters assigned
                        by the management.</li>
                    <li>Liaise and follow up with government authorities (MPK, Bomba, JKKP, MITI,
                        MIDA, KDN) on licensing application.</li>
                    <li>Planning, organizing and managing events like company team building.</li>
                    <li>Handling for staff training, interview arrangement and recruitment</li>
                    <li>Prepare annual leave and LMW custom report, handle foreign worker permits,
                        check-out memo (COM), passports, air flight tickets, claims, annual leave.</li>
                    <li>Assistaccount department and issue payment for suppliers, follow up with
                        customer payment. Prepare monthly sales report, customer aging and
                        supplier aging report.</li>
                </ul>
            </section>
        </section>
    </content>
    <section class="user-info">
        <section class="user-block">
            <img class="image" [src]="adminIcon" />
            <section class="contact">
                <h6 class="title">CONTACT</h6>
                <ul>
                    <li>
                        <p>
                            <i nz-icon>
                                <svg height="17px" viewBox="0 0 24 24" width="17px" fill="#FFFFFF">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                                </svg>
                            </i>
                            <a href="mailto:info@resumekraft.com">info@resumekraft.com</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i nz-icon>
                                <svg height="17px" viewBox="0 0 24 24" width="17px" fill="#FFFFFF">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z" />
                                </svg>
                            </i>
                            <a href="tel:2025550120">202-555-0120</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i nz-icon>
                                <svg height="17px" viewBox="0 0 24 24" width="17px" fill="#FFFFFF">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                                </svg>
                            </i>
                            <span>Chicago, IIIionois, US</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i nz-icon>
                                <svg fill="#FFFFFF" viewBox="0 0 30 30" width="17px" height="17px">
                                    <path
                                        d="M9,25H4V10h5V25z M6.501,8C5.118,8,4,6.879,4,5.499S5.12,3,6.501,3C7.879,3,9,4.121,9,5.499C9,6.879,7.879,8,6.501,8z M27,25h-4.807v-7.3c0-1.741-0.033-3.98-2.499-3.98c-2.503,0-2.888,1.896-2.888,3.854V25H12V9.989h4.614v2.051h0.065 c0.642-1.18,2.211-2.424,4.551-2.424c4.87,0,5.77,3.109,5.77,7.151C27,16.767,27,25,27,25z" />
                                </svg>
                            </i>
                            <a href="https://linkedin.com/resumekraft">linkedin.com/resumekraft</a>
                        </p>
                    </li>
                </ul>
            </section>
            <section class="skills">
                <h6 class="title">SKILLS</h6>
                <ul>
                    <li>
                        <span>Microsoft Office</span>
                        <nz-progress [nzPercent]="80" [nzShowInfo]="false"
                            [nzStrokeColor]="{ '0%': 'rgb(252, 38, 38)', '100%': 'rgb(252, 38, 38)' }">
                        </nz-progress>
                    </li>
                    <li>
                        <span>Online Marketing</span>
                        <nz-progress [nzPercent]="80" [nzShowInfo]="false"
                            [nzStrokeColor]="{ '0%': 'rgb(252, 38, 38)', '100%': 'rgb(252, 38, 38)' }">
                        </nz-progress>
                    </li>
                    <li>
                        <span>Drawing Detailing</span>
                        <nz-progress [nzPercent]="60" [nzShowInfo]="false"
                            [nzStrokeColor]="{ '0%': 'rgb(252, 38, 38)', '100%': 'rgb(252, 38, 38)' }">
                        </nz-progress>
                    </li>
                </ul>
            </section>
            <section class="languages">
                <h6 class="title">LANGUAGES</h6>
                <ul>
                    <li>
                        <span>English</span>
                        <nz-rate [ngModel]="5" [nzCharacter]="characterIcon" nzDisabled></nz-rate>
                    </li>
                    <li>
                        <span>French</span>
                        <nz-rate [ngModel]="4" [nzCharacter]="characterIcon" nzDisabled></nz-rate>
                    </li>
                    <li>
                        <span>Arabic</span>
                        <nz-rate [ngModel]="3" [nzCharacter]="characterIcon" nzDisabled></nz-rate>
                    </li>
                    <li>
                        <span>German</span>
                        <nz-rate [ngModel]="3" [nzCharacter]="characterIcon" nzDisabled></nz-rate>
                    </li>
                </ul>
            </section>
            <section class="education">
                <h6 class="title">EDUCATION</h6>
                <div>
                    <p class="sanserif">Bachelor's Degree of Business<br>Management (Hons)</p>
                    <p>Sep 2010 - Nov 2013</p>
                </div>
                <div>
                    <p class="sanserif">San Jose State University</p>
                </div>
                <div>
                    <span>Course: Business Management<br>(CGPA: 3.32/4.00)</span>
                </div>
            </section>
            <section class="personal-skills">
                <h6 class="title">PERSONAL SKILLS</h6>
                <ul>
                    <li>
                        <span>Good team player</span>
                        <nz-progress [nzPercent]="75" [nzShowInfo]="false"
                            [nzStrokeColor]="{ '0%': 'rgb(252, 38, 38)', '100%': 'rgb(252, 38, 38)' }">
                        </nz-progress>
                    </li>
                    <li>
                        <span>Time Management</span>
                        <nz-progress [nzPercent]="75" [nzShowInfo]="false"
                            [nzStrokeColor]="{ '0%': 'rgb(252, 38, 38)', '100%': 'rgb(252, 38, 38)' }">
                        </nz-progress>
                    </li>
                    <li>
                        <span>Fast Learner</span>
                        <nz-progress [nzPercent]="75" [nzShowInfo]="false"
                            [nzStrokeColor]="{ '0%': 'rgb(252, 38, 38)', '100%': 'rgb(252, 38, 38)' }">
                        </nz-progress>
                    </li>
                    <li>
                        <span>Multi Tasking</span>
                        <nz-progress [nzPercent]="75" [nzShowInfo]="false"
                            [nzStrokeColor]="{ '0%': 'rgb(252, 38, 38)', '100%': 'rgb(252, 38, 38)' }">
                        </nz-progress>
                    </li>
                </ul>
            </section>
        </section>
    </section>
</section>

<ng-template #characterIcon>
    <i nz-icon>
        <svg width="15px" height="15px" viewBox="0 0 569.16 569.16">
            <path
                d="M550.188,0H18.972C8.495,0,0,8.495,0,18.972v531.216c0,10.478,8.495,18.972,18.972,18.972h531.216
        			c10.478,0,18.972-8.494,18.972-18.972V18.972C569.16,8.495,560.666,0,550.188,0z M507.96,507.96H61.2V61.2h446.76V507.96z" />
        </svg>
    </i>
</ng-template>