:host {
  background-color: var(--background-color);
  width: 100%;
  ::ng-deep .ant-tabs-content {
    height: 100%;
  }
  ::ng-deep .ant-tabs-tabpane {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

:host ::ng-deep .xng-breadcrumb-root {
  color: var(--text-color);

  .xng-breadcrumb-trail {
    color: var(--text-color);
  }
}
.page-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  background-color: var(--content-color);
  color: var(--text-color);
  width: 100%;

  .breadcrumb:hover {
    cursor: pointer;
    color: var(--primary);
  }

  .title {
    color: var(--text-color);
  }
}

.title {
  font-size: 34px;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 20px 24px 0 24px;
  background-color: var(--content-color);
  padding: 24px 15px 24px 15px;
  height: 100%;
  .tabs {
    color: var(--text-color);
  }
}

.info {
  height: 100%;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .button {
    height: 32px;
    display: flex;
    justify-content: flex-end;
  }
}

:host::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
