.phone-select {
    width: 70px;
}

.sign-up-form {
    min-width: 600px;

    .success-button {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.register-are {
    margin-bottom: 8px;
}