<form nz-form [formGroup]="validateForm" class="project-form">
  <div class="row">
    <nz-form-item class="inputs">
      <app-autocomplete [placeholder]="'placeholder.Input your email!' | translate" label="form.email"
        formControlName="email" [errorMessages]="{ required: 'Please, specify the field' }">
      </app-autocomplete>
    </nz-form-item>
    <nz-form-item class="inputs">
      <app-input [placeholder]="'placeholder.Input your last name!' | translate" label="form.lastname"
        formControlName="lastName" [errorMessages]="{
          required: 'Please, specify the field',
          minlength: 'max len error'
        }">
      </app-input>
    </nz-form-item>
    <nz-form-item class="inputs">
      <app-input [placeholder]="'placeholder.Input your skills!' | translate" label="form.skills"
        formControlName="skills" [errorMessages]="{
          required: 'Please, specify the field',
          minlength: 'max len error'
        }">
      </app-input>
    </nz-form-item>
  </div>
  <div class="row">
    <nz-form-item class="inputs">
      <app-autocomplete [placeholder]="'placeholder.Input your specialization!' | translate" label="form.specialization"
        formControlName="specialization" [errorMessages]="{
          required: 'Please, specify the field',
          minlength: 'max len error'
        }">
      </app-autocomplete>
    </nz-form-item>
    <nz-form-item class="inputs">
      <app-autocomplete [placeholder]="'placeholder.Input your department!' | translate" label="form.department"
        formControlName="department" [errorMessages]="{
          required: 'Please, specify the field',
          minlength: 'max len error'
        }">
      </app-autocomplete>
    </nz-form-item>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'">
        {{ "form.save" | translate }}
      </button>
      <ng-content></ng-content>
    </div>
  </div>
</form>