::ng-deep .ant-descriptions-item-content {
    background-color: var(--content-color);
    color: var(--text-color);
}

::ng-deep .ant-descriptions-bordered .ant-descriptions-item-label {
    background-color: var(--background-color);
    color: var(--text-color);
}