:host {
  overflow: scroll;
  width: 100%;
  ::ng-deep .ant-descriptions-title {
    color: var(--text-color);
  }
}

:host::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.wrapper {
  height: 100%;

  ::ng-deep .ant-descriptions-extra {
    display: flex;

    .buttons-putton {
      margin: 7px;
    }
  }
}

::ng-deep .ant-descriptions-item-content {
  background-color: var(--content-color);
  color: var(--text-color);
}

::ng-deep .ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: var(--background-color);
  color: var(--text-color);
}
