<div *ngIf="employee$ | async as employee; else loading" class="wrapper">
  <nz-descriptions [nzTitle]="'form.employee-info' | translate" nzBordered nzLayout="vertical" [nzExtra]="extraTpl">
    <nz-descriptions-item [nzTitle]="'form.firstname' | translate" class="table-item">{{ employee.firstName }}
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="'form.lastname' | translate">{{ employee.lastName }}</nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="'form.email' | translate">{{ employee.email }}</nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="'form.specialization' | translate">{{ employee.specialization }}
    </nz-descriptions-item>
    <nz-descriptions-item [nzTitle]="'form.department' | translate">{{ employee.department }}</nz-descriptions-item>
  </nz-descriptions>
  <ng-template class="buttons" #extraTpl>
    <app-primary-button nz-button (click)="editItem(employee)">
      {{ "form.edit" | translate }}
    </app-primary-button>
    <app-primary-button (click)="deleteItem(employee)">
      {{ "form.delete" | translate }}
    </app-primary-button>
    <app-default-button (click)="onBack()" nz-button>
      {{ "form.cancel" | translate }}
    </app-default-button>
  </ng-template>
</div>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>