<div class="page-header">
  <!-- <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{ "pages.home" | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item (click)="back()"  class="breadcrumb">
      {{ "pages.employee" | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item  class="breadcrumb">
      {{ employees[currentUserId].firstname }}
      {{ employees[currentUserId].lastname }}
    </nz-breadcrumb-item>
  </nz-breadcrumb> -->
  <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
  <ng-template #iconTemplate>/ </ng-template>

  <div class="title">{{ "pages.employee" | translate }}</div>
  <p>
    {{ employees[currentUserId].firstname }}
    {{ employees[currentUserId].lastname }}'s
    {{ "profile.profile" | translate }}
  </p>
</div>
<nz-content class="content">
  <nz-tabset class="tabs">
    <nz-tab nzTitle="Info">
      <app-form-info>
        <app-default-button (click)="onBack()" nz-button>
          {{ "form.cancel" | translate }}
        </app-default-button>
      </app-form-info>
    </nz-tab>
    <nz-tab nzTitle="CV">
      <app-list [bodyTemplate]="bodyRef" [data]="cves">
        <ng-template #bodyRef let-data="$implicit">
          {{ data.name }}
        </ng-template>
      </app-list>
    </nz-tab>
  </nz-tabset>
</nz-content>
