<div class="wrapper">
  <div class="page-header">
    <breadcrumb [data]="breadcrumbs"></breadcrumb>

    <div class="title">{{ "pages.employee" | translate }}</div>
    <p>
      {{ employees[currentUserId].firstname }}
      {{ employees[currentUserId].lastname }}'s
      {{ "profile.profile" | translate }}
    </p>
  </div>
  <nz-content class="content">
    <nz-tabset class="tabs">
      <nz-tab nzTitle="Info">
        <app-form-info  class="info">
          <app-default-button (click)="onBack()" nz-button>
            {{ "form.cancel" | translate }}
          </app-default-button>
        </app-form-info>
      </nz-tab>
      <nz-tab nzTitle="CV" class="cv">
        <div class="list-wrapper">
          <app-list [bodyTemplate]="bodyRef" [data]="cves" class="list">
            <ng-template #bodyRef let-data="$implicit">
              {{ data.name }}
            </ng-template>
          </app-list>
          <app-default-button class="button">+</app-default-button>
        </div>

        <div class="cv-info">
          <app-form-cv></app-form-cv>
          <nz-collapse>
            <nz-collapse-panel
              *ngFor="let project of projects"
              [nzHeader]="project.name"
            >
              Name: {{ project.name }} Start date: {{ project.startData }} End
              date: {{ project.endData }}<br />
              Team size: {{ project.teamSize }} Tech stack:
              {{ project.techStack }} Roles: {{ project.roles }}
            </nz-collapse-panel>
          </nz-collapse>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-content>
</div>
