<div class="page-header">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{ "pages.home" | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ "pages.employee" | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ employees[currentUserId].firstname }}
      {{ employees[currentUserId].lastname }}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <h1>{{ "pages.employee" | translate }}</h1>
  <p>
    {{ employees[currentUserId].firstname }}
    {{ employees[currentUserId].lastname }}'s
    {{ "profile.profile" | translate }}
  </p>
</div>
<nz-content class="content">
  <nz-tabset>
    <nz-tab nzTitle="Info">
      <app-login-form></app-login-form>
    </nz-tab>
    <nz-tab nzTitle="CV">
      <app-list [bodyTemplate]="bodyRef" [data]="cves">
        <ng-template #bodyRef let-data="$implicit">
          {{ data.name }}
        </ng-template>
      </app-list>
    </nz-tab>
  </nz-tabset>
</nz-content>
