<div class="page-header">
  <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>
            {{ "pages.home" | translate }}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ "pages.project" | translate }}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ "pages.info" | translate }}
        </nz-breadcrumb-item>
    </nz-breadcrumb> -->
  <xng-breadcrumb
    [separator]="iconTemplate"
  ></xng-breadcrumb>
  <ng-template #iconTemplate> / </ng-template>

  <div class="title">{{ "pages.project" | translate }}</div>
  <p>{{ "project.project-list" | translate }}</p>
</div>
<nz-content class="content">
  <div class="actions">
    <app-default-button>
      <span>{{ "project.archieve" | translate }}</span>
    </app-default-button>
  </div>
  <app-form-project>
    <app-default-button (click)="onBack()" nz-button>
      {{ "form.cancel" | translate }}
    </app-default-button>
  </app-form-project>
</nz-content>
