:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  background-color: var(--content-color);
  color: var(--text-color);
  width: 100%;
  .title {
    font-size: 34px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px 24px 0 24px;
  background-color: var(--content-color);
  padding: 24px 15px 24px 15px;

  .actions {
    height: 55px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
  }

  .table {
    margin: 10px;
    padding: 10px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

:host .ng-star-inserted {
    display: flex;
}