.logo {
    position: absolute;
    width: 240px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: calc(50% - 238.27px/2 - 0.5px);
    top: calc(50% - 47px/2 - 282.5px);
}