<form nz-form [formGroup]="validateForm" class="project-form">
    <div class="row">
        <nz-form-item class="inputs">
            <app-input formControlName="firstName"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.firstname" | translate }}</label>
            </app-input>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-input formControlName="lastName"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.lastname" | translate }}</label>
            </app-input>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-autocomplete formControlName="email" [errorMessages]="{required: 'Please, specify the field'}">
                <label>{{ "form.email" | translate }}</label>
            </app-autocomplete>
        </nz-form-item>
    </div>
    <div class="row">
        <nz-form-item class="inputs">
            <app-autocomplete formControlName="specialization"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.specialization" | translate }}</label>
            </app-autocomplete>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-autocomplete formControlName="department"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.department" | translate }}</label>
            </app-autocomplete>
        </nz-form-item>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'">{{ "form.save" | translate }}</button>
            <ng-content></ng-content>
        </div>
    </div>
</form>