:host ::ng-deep .ant-btn {
  height: 40px;
}

.wrapper {
  position: relative;
  background: #f0f2f5;
  height: 100vh;
}

.global {
  float: right;
  margin: 22px;
}

.global-icon {
  color: black;
  font-size: 20px;
}

.question {
  float: right;
  margin: 63px 77px 42px 0;
}

.logo {
  width: 238.27px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15.5px;
}

.form {
  position: relative;
  width: 360px;
  height: 276px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 360px;
}

.bg {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 206px;
  padding-bottom: 270px;
}

.bg .bg-img {
  position: absolute;
  padding-top: 206px;
}

