<div class="wrapper" [ngStyle]="{'height': '100%'}">
  <app-dropdown class="global">
    <i class="global-icon" icon nz-icon nzType="global" nzTheme="outline"></i>
    <ul
      content
      nz-menu
      nzSelectable
      style="list-style-type: none; cursor: pointer"
    >
      <li nz-menu-item>En</li>
      <li nz-menu-item (click)="switchLanguage()">Ru</li>
    </ul>
  </app-dropdown>
  <div class="bg">
    <img src="/assets/images/bg.png" class="bg-img" />
    <div class="form">
      <div class="logo">
        <img src="/assets/images/Logo (2).png" />
      </div>
      <app-login-form class="login-form">
        <app-primary-button class="sign-up-button">
          <a routerLink="/layout/employee">
            <span>{{ "auth.sign-in" | translate }}</span>
          </a>
        </app-primary-button>
      </app-login-form>
    </div>
  </div>

  <app-circle-button class="question">
    <i nz-icon nzType="question" nzTheme="outline"></i>
  </app-circle-button>
</div>
