<nz-layout>
  <nz-header class="header">
    <app-global-header></app-global-header>
  </nz-header>
  <nz-layout>
    <nz-sider
      nzTheme="light"
      style="flex: 0 0 200px; min-width: 10px; width: 200px"
      class="sider"
    >
      <app-sider>
        <ul nz-menu>
          <li nz-menu-item *ngFor="let page of pages; " class="sider-item">
            <i nz-icon nzType="{{page.iconType}}" nzTheme="outline"></i>
            {{ page.name }}
          </li>
        </ul>
      </app-sider>
    </nz-sider>
    <nz-layout class="inner-layout">
      <div class="page-header">
        <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>Employee</nz-breadcrumb-item>
        </nz-breadcrumb>
        <h1>Employee</h1>
        <p>Employee List</p>
      </div>
      <nz-content class="content"> </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
