:host ::ng-deep .ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px;
}

:host ::ng-deep .ant-layout-sider-children {
  width: fit-content;
}

.wrapper {
  overflow: hidden;
  height: 100vh;
}

.header {
  padding: 0;
  height: 48px;
}

.sider-wrapper {
  background-color: var(--content-color);
  .list {
    background-color: var(--content-color);
    color: var(--text-color);
  }
}

.sider-item {
  margin: 8px 0px;
  height: 40px;
  line-height: 40px;
}
