.wrapper {
  height: 100%;
}

.header {
  padding: 0;
  height: 48px;
}

.sider-wrapper {
  background-color: var(--content-color);
  .list {
    background-color: var(--content-color);
    color: var(--text-color);
  }
  ::ng-deep .ant-menu-item-selected {
    background-color: var(--background-color);
  }
}

.sider-item {
  margin: 8px 0px;
  height: 40px;
  line-height: 40px;
}

.disable {
  pointer-events: none;
}
