.wrapper {
  display: flex;
  .separator {
    margin: 0 5px 0 5px;
  }

  .link {
    cursor: pointer;
  }

  .link:hover {
    transform: scale(1.12);
    color: var(--primary);
    transition: 0.5s;
  }

  .disabled {
    color: var(--hover-background-color);
    pointer-events: none;
  }
}
