.header {
  z-index: 1000;
  background-color: var(--background-header);
  position: fixed;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  line-height: 48px;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
}

.nz-page-header-content {
  padding: 0px;
  display: flex;
  flex-direction: row;
  color: var(--icon-color);
  i {
    color: var(--icon-color);
  }
}

.user,
.language {
  margin-right: 10px;
}

.circle-button {
  line-height: 48px;
  width: 48px;
}
.circle-button:hover {
  i {
    color: var(--primary);
  }
}

.dropdown {
  margin: 0 16px;
  .dropdown-text {
    color: var(--text-color);
  }
  .dropdown-text:hover {
    color: var(--primary);
  }
}

.dropdown-item:hover {
  transform: scale(1.2);
  color: var(--text-color);
}