<div class="wrapper">
  <nz-page-header class="header">
    <nz-page-header-title>
      <img src="../../../../assets/images/logo.png" alt="logo" />
    </nz-page-header-title>
    <nz-page-header-content class="nz-page-header-content">
      <div class="buttons">
        <app-circle-button class="circle-button">
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </app-circle-button>
        <app-circle-button class="circle-button">
          <i nz-icon nzType="question-circle" nzTheme="outline"></i>
        </app-circle-button>
        <app-circle-button class="circle-button">
          <i nz-icon nzType="bell" nzTheme="outline"></i>
        </app-circle-button>
      </div>
      <div class="user">
        <app-modal-window>
          <span label>{{ "profile.username" | translate }}</span>
          <span title>{{ "profile.userinfo" | translate }}</span>
          <div content>
            <button (click)="increase()" class="fz-60 p-50 m-20">+1
            </button>
            <button (click)="decrease()" [disabled]="cannotDecrease$ | async" class="fz-60 p-50 m-20">-1
            </button>
            <button (click)="clear()" [disabled]="cannotDecrease$ | async" class="fz-60 p-50 m-20">=0
            </button>
            <p class="fz-60">Счетчик = {{count$ | async}}</p>
            <p *ngIf="updatedAt$ | async" class="fz-60">
              Обновлялось {{updatedAt$ | async | date:"HH:mm:ss dd/MM/yyyy"}}
            </p>
          </div>
        </app-modal-window>
      </div>
      <app-dropdown class="dropdown">
        <a icon class="dropdown-text"> {{ currentLanguage }} </a>
        <ul content nz-menu nzSelectable style="list-style-type: none; cursor: pointer">
          <li nz-menu-item class="dropdown-item" *ngFor="let language of languages" (click)="switchLanguage(language)">
            {{ language }}
          </li>
        </ul>
      </app-dropdown>
    </nz-page-header-content>
  </nz-page-header>
</div>