<div class="wrapper">
  <nz-page-header class="header">
    <nz-page-header-title>
      <img src="../../../../assets/images/logo.png" alt="logo" />
    </nz-page-header-title>
    <nz-page-header-content>
      <div class="buttons">
        <app-circle-button>
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </app-circle-button>
        <app-circle-button>
          <i nz-icon nzType="question-circle" nzTheme="outline"></i>
        </app-circle-button>
        <app-circle-button>
          <i nz-icon nzType="bell" nzTheme="outline"></i>
        </app-circle-button>
      </div>
      <div class="user"> {{'profile.username' | translate}}</div>
      <div class="language">En</div>
    </nz-page-header-content>
  </nz-page-header>
</div>