<div class="page-header">
  <!-- <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{ "pages.home" | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ "pages.project" | translate }}
    </nz-breadcrumb-item>
  </nz-breadcrumb> -->
  <!-- <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
  <ng-template #iconTemplate> / </ng-template> -->

  <h1>{{ "pages.project" | translate }}</h1>
  <p>{{ "project.project-list" | translate }}</p>
</div>
<nz-content class="content">
  <div class="actions">
    <app-primary-button class="sign-up-button">
      <a routerLink="info">
        <span>{{ "project.add-project" | translate }}</span>
      </a>
    </app-primary-button>
  </div>
  <app-table class="table"></app-table>
</nz-content>
