<div class="page-header">
  <!-- <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{ "pages.home" | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ "pages.project" | translate }}
    </nz-breadcrumb-item>
  </nz-breadcrumb> -->

  <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
  <ng-template #iconTemplate>/ </ng-template>

  <div class="title">{{ "pages.project" | translate }}</div>
  <p>{{ "project.project-list" | translate }}</p>
</div>
<nz-content class="content">
  <div class="actions">
    <app-primary-button class="sign-up-button">
      {{ "project.add-project" | translate }}
    </app-primary-button>
  </div>
  <app-table
    class="table"
    [headTemplate]="headRef"
    [bodyTemplate]="bodyRef"
    [data]="projects"
  >
    <ng-template #headRef>
      <tr>
        <th class="table-head">{{ "form.name" | translate }}</th>
        <th class="table-head">{{ "form.start-date" | translate }}</th>
        <th class="table-head">{{ "form.end-date" | translate }}</th>
        <th class="table-head">{{ "form.team-size" | translate }}</th>
        <th class="table-head">{{ "form.tech-stack" | translate }}</th>
        <th class="table-head">{{ "form.roles" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template #bodyRef let-data="$implicit">
      <tr
        *ngFor="let project of data"
        class="table-row"
        routerLink="{{ project.id }}"
      >
        <td>{{ project.name }}</td>
        <td>{{ project.startData }}</td>
        <td>{{ project.endData }}</td>
        <td>{{ project.teamSize }}</td>
        <td>{{ project.techStack }}</td>
        <td>{{ project.roles }}</td>
      </tr>
    </ng-template>
  </app-table>
</nz-content>
