<div class="page-header">
  <breadcrumb [data]="breadcrumbs"></breadcrumb>

  <div class="title">{{ "pages.employee" | translate }}</div>
  <p>
    {{ employees[currentUserId].firstname }}
    {{ employees[currentUserId].lastname }}'s
    {{ "profile.profile" | translate }}
  </p>
</div>
<nz-content class="content">
  <nz-tabset class="tabs">
    <nz-tab nzTitle="Info">
      <app-info-profile></app-info-profile>
    </nz-tab>
    <nz-tab nzTitle="CV" class="cv-tab">
      <div class="list">
        <app-list [bodyTemplate]="bodyRef" [data]="cves">
          <ng-template #bodyRef let-data="$implicit">
            {{ data.name }} <i nz-icon nzType="delete" nzTheme="outline"></i>
          </ng-template>
        </app-list>
      </div>
      <div class="projects">
        <app-form-cv></app-form-cv>

        <nz-collapse>
          <nz-collapse-panel
            *ngFor="let project of projects"
            [nzHeader]="project.name"
          >
            {{ project.name }} | {{ project.startData }} |
            {{ project.endData }} | {{ project.teamSize }} |
            {{ project.techStack }} | {{ project.roles }}
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </nz-tab>
  </nz-tabset>
</nz-content>
