.list {
  min-width: 100px;
  width: 100%;
  
  .list-item {
    border: solid var(--background-color) 1px;
    cursor: pointer;
    padding: 0px;
  }
  .list-item:hover {
    background-color: var(--background-color);
    transition: 0.5s linear;
  }
}