button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 77px;
    bottom: 42px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
}