<div class="page-header">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            {{ "pages.home" | translate }}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ "pages.project" | translate }}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            {{ project[currentUserId].firstname }}
            {{ project[currentUserId].lastname }}
        </nz-breadcrumb-item>
    </nz-breadcrumb>
    <h1>{{ "pages.project" | translate }}</h1>
    <p>
        {{ project[currentUserId].firstname }}
        {{ project[currentUserId].lastname }}'s
        {{ "profile.profile" | translate }}
    </p>
</div>
<nz-content class="content">

</nz-content>