<form nz-form [formGroup]="validateForm" class="project-form">
    <div class="row">
        <nz-form-item class="inputs">
            <app-input formControlName="name"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label label>{{ "form.name" | translate }}</label>
                <label ngReq class="favourite">*</label>
            </app-input>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-date-picker formControlName="startDate" [errorMessages]="{required: 'Please, specify the field'}">
                <label label>{{ "form.start-date" | translate }}</label>
                <label ngReq class="favourite">*</label>
            </app-date-picker>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-date-picker formControlName="endDate" [errorMessages]="{required: 'Please, specify the field'}">
                <label label>{{ "form.end-date" | translate }}</label>
                <label ngReq class="favourite">*</label>
            </app-date-picker>
        </nz-form-item>
    </div>
    <div class="row">
        <nz-form-item class="inputs">
            <app-input formControlName="teamSize" [errorMessages]="{required: 'Please, specify the field'}">
                <label label>{{ "form.team-size" | translate }}</label>
                <label ngReq class="favourite">*</label>
            </app-input>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-input formControlName="techStack"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label label>{{ "form.tech-stack" | translate }}</label>
                <label ngReq class="favourite">*</label>
            </app-input>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-autocomplete formControlName="roles" [errorMessages]="{required: 'Please, specify the field'}">
                <label label>{{ "form.roles" | translate }}</label>
                <label ngReq class="favourite">*</label>
            </app-autocomplete>
        </nz-form-item>
    </div>
    <div class="row">
        <nz-form-item class="inputs">
            <app-textarea formControlName="description"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label label>{{ "form.description" | translate }}</label>
                <label ngReq class="favourite">*</label>
            </app-textarea>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-textarea formControlName="responsibilities"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label label>{{ "form.responsibilities" | translate }}</label>
                <label ngReq class="favourite">*</label>
            </app-textarea>
        </nz-form-item>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'">{{ "form.save" | translate }}</button>
            <ng-content></ng-content>
        </div>
    </div>
</form>