<form nz-form [formGroup]="validateForm" class="project-form">
    <div class="row">
        <nz-form-item class="inputs">
            <app-input [formControl]="nameControl"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.name" | translate }}</label>
            </app-input>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-date-picker [formControl]="startDateControl" [errorMessages]="{required: 'Please, specify the field'}">
                <label>{{ "form.start-date" | translate }}</label>
            </app-date-picker>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-date-picker [formControl]="endDateControl" [errorMessages]="{required: 'Please, specify the field'}">
                <label>{{ "form.end-date" | translate }}</label>
            </app-date-picker>
        </nz-form-item>
    </div>
    <div class="row">
        <nz-form-item class="inputs">
            <app-input [formControl]="teamSizeControl"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.team-size" | translate }}</label>
            </app-input>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-input [formControl]="techStackControl"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.tech-stack" | translate }}</label>
            </app-input>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-input [formControl]="rolesControl"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.roles" | translate }}</label>
            </app-input>
        </nz-form-item>
    </div>
    <div class="row">
        <nz-form-item class="inputs">
            <app-textarea [formControl]="descriptionControl"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.description" | translate }}</label>
            </app-textarea>
        </nz-form-item>
        <nz-form-item class="inputs">
            <app-textarea [formControl]="responsibilitiesControl"
                [errorMessages]="{required: 'Please, specify the field', minlength: 'max len error'}">
                <label>{{ "form.responsibilities" | translate }}</label>
            </app-textarea>
        </nz-form-item>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'">{{ "form.save" | translate }}</button>
            <ng-content></ng-content>
        </div>
    </div>
</form>