:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  .title {
    font-size: 34px;
  }
}

:host ::ng-deep .xng-breadcrumb-root {
  color: var(--text-color);

  .xng-breadcrumb-trail {
    color: var(--text-color);
  }
}
:host {
  background-color: var(--hover-background-color);
}
.content {
  display: flex;
  flex-direction: column;
  margin: 20px 24px 0 24px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 24px 15px 24px 15px;

  .actions {
    height: 55px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
  }

  .table {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);

    .table-head {
      background-color: var(--background-color);
      color: var(--text-color);
    }
    .table-row {
      background-color: var(--background-color);
      color: var(--text-color);
    }
    .table-row:hover {
      background-color: var(--hover-background-color);
      transition: 0.2s linear;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
