<div class="page-header">
  <breadcrumb [data]="breadcrumbs"></breadcrumb>

  <div class="title">{{ 'pages.employee' | translate }}</div>
  <p>{{ 'employee.employee-list' | translate }}</p>
</div>
<nz-content class="content">
  <div class="actions">
    <app-primary-button (click)="addItem()" class="add-button">
      <span>{{ 'employee.add-employee' | translate }}</span>
    </app-primary-button>
  </div>
  <app-table class="table" [headTemplate]="headRef" [bodyTemplate]="bodyRef" [data]="employees">
    <ng-template #headRef>
      <tr>
        <th class="table-head">{{ 'table.firstname' | translate }}</th>
        <th class="table-head">{{ 'table.lastname' | translate }}</th>
        <th class="table-head">{{ 'table.email' | translate }}</th>
        <th class="table-head">{{ 'table.department' | translate }}</th>
        <th class="table-head">{{ 'table.specialization' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template #bodyRef let-data="$implicit">
      <tr *ngFor="let employee of data" class="table-row" [routerLink]="employee.id">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.specialization }}</td>
      </tr>
    </ng-template>
  </app-table>
  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
</nz-content>