<div class="page-header">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      {{ "pages.home" | translate }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ "pages.employee" | translate }}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <h1>{{ "pages.employee" | translate }}</h1>
  <p>{{ "employee.employee-list" | translate }}</p>
</div>
<nz-content class="content">
  <div class="actions">
    <app-primary-button class="add-button">
      {{ "employee.add-employee" | translate }}
    </app-primary-button>
  </div>
  <app-table class="table">
    <tr
      *ngFor="let user of users"
      class="table-row"
      routerLink="profile"
    >
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.department }}</td>
      <td>{{ user.specalization }}</td>
    </tr>
  </app-table>
</nz-content>