<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="loginUser()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
            <div class="label">
                <label nzFor="email">{{ "profile.email" | translate }}</label>
                <label class="favourite">*</label>
            </div>
            <nz-input-group nzPrefixIcon="user">
                <input nz-input formControlName="email" id="email" placeholder="Email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <div class="label">
                <label>{{ "profile.password" | translate }}</label>
                <label class="favourite">*</label>
            </div>
            <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                    placeholder="Password" />
            </nz-input-group>
            <ng-template #suffixTemplate>
                <i class="passicon" nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                    (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
                <span class="checkbox">{{ 'auth.remember-me' | translate }}</span>
            </label>
        </div>
        <ng-content></ng-content>
    </div>
    <button nz-button type="submit" class="login-form-button login-form-margin" [nzType]="'primary'"
        [disabled]="validateForm.invalid || submitted">{{ 'auth.log-in' |
        translate
        }}</button>
</form>