.label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--text-color);
}

.favourite {
  margin-left: 10px;
  color: var(--text-error);
  font-size: 18px;
  line-height: 26px;
}
.input {
  min-width: 200px;
  background-color: var(--content-color) !important;
  color: var(--hover-background-color);
}
.error {
  color: var(--text-error);
}
